#btnLogin {
    -fx-background-color: #0ba500;
    -fx-text-fill: white;
}

#btnExit {
    -fx-background-color: #a50000;
    -fx-text-fill: white;
}

.btnQuestionNumber {
    -fx-background-color: #fff;
    -fx-text-fill: black;
    -fx-pref-width: 10px;
}

.btnQuestionNumber.selected {
    -fx-background-color: #f5df02;
    -fx-text-fill: black;
    -fx-pref-width: 10px;
}

.btnQuestionNumber.noanswer {
    -fx-background-color: #f50202;
    -fx-text-fill: black;
    -fx-pref-width: 10px;
}

.btnQuestionNumber.answer {
    -fx-background-color: #62ff00;
    -fx-text-fill: black;
    -fx-pref-width: 10px;
}